<div layout="column" layout-fill class = "form" >
  <md-toolbar layout = "row">
    <div layout = "row" flex>
      <span class="md-display-3">Flight Reservation</span>
      <span flex></span>
    </div>
    <md-button class="md-raised md-primary" ui-sref="register" >
      Create a new account
    </md-button>
    <md-button class="md-raised md-primary" ui-sref = "login">
      login
    </md-button>
  </md-toolbar>
  <md-toolbar layout="row" class="md-hue-3">
    <div class="md-toolbar-tools">
      <span>Flight list</span>
    </div>
  </md-toolbar>
<schedule-app></schedule-app>
</div>
