<md-content>
    <md-list flex>
      <md-subheader class="md-no-sticky">Flights Currently Available</md-subheader>
      <md-divider ></md-divider>
        <md-list-item class="md-3-line" ng-repeat = "flight in scheduleCtrl.flights">
          <div class="md-list-item-text" layout="column">
            <h3>From : {{flight.origin}}</h3>
            <h3>To : {{flight.destination}}</h3>
            <p>Departing At : {{flight.offset}}:00</p>
            <p>Estimated Air Time : {{flight.flightTime}} hour/s</p>
            <md-divider ></md-divider>
          </div>
          <md-divider ></md-divider>
        </md-list-item>
    </md-list flex>
</md-content>
